.fav_title_edit {
	cursor: pointer;
}

.editable_text_div {
  float: left;
  display: inline-block;
  border-bottom-style: solid;
  border-color: #bfbfbf;
  border-width: 1px;
  width: calc(100% - 14px);
  /* max-width: 100px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit_pencil {
  float: right;
  background-image:url('../images/edit_pencil.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size:100%;
  width: 13px;
  height: 13px;
  margin-left: 1px;
}

.tab-col {
	max-width: 100px;
}

.text_editor_div {
  float: left;
  border-width: 1px;
  width: calc(100% - 14px);
}

.favorite_date_time {
	margin-top: 2px;
	font-size: 10px;
	color: #797979;
	clear: left;
}