.header_lang {
	display:none;
}
/* See true/false for filterCollege, filterCampus, filterLocation, filterInstruct */

#timezoneSelector {
	display:none;
}
.crn_label {
	display:none;
}
.userDiv {
	display:block;
}
.legend_waitlist {
	
}
.myPlannerImport {
	display:none;
}
.credits_block {
	display: none;
}
