.mstitle {
	/*float:left;
	clear:both;*/
}
.msItemR {
	display: inline-block;
	zoom: 1;
	padding: 1px;
	vertical-align: text-top;
	height: 22px;
}

.msItemN {
	background-color: #f5f5f5;
	border: 1px solid #d9d9d9;
	cursor: default;
	display: block;
	height: 20px;
	white-space: nowrap;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-right: 4px;
	margin-bottom: 4px;
}

.msItemNb {
	cursor: default;
	display: block;
	height: 22px;
	white-space: nowrap;
}

.msItemT {
	display: inline-block;
	*display: inline;
	zoom: 1;
	color: #222;
	margin: 2px 5px;
	max-width: 325px;
	max-height: 17px;
	overflow: hidden;
	text-overflow: ellipsis;
	direction: ltr;
}

.msItemTb {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 3px 5px 3px 0;
	direction: ltr;
}

.msItemM {
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 14px;
	height: 20px;
	background: no-repeat url('../images/sprite.gif') -4px 0;
	opacity: .6;
	vertical-align: top;
	cursor: pointer;
}
.msitem {
	margin-left: 4px;
}
.msitem .mdl-checkbox {
	height: inherit;
}
div.msulwrapper {
  padding: 0px;
}

div.msulwrapper ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	/*min-height: 20px;*/
}

div.msulwrapper ul li {
  display: block;
  text-decoration: none;
}

.msbox {
	/*background-color: #EDEDED;*/
	/*border:1px solid #d0d0d0;*/
	/*padding:4px;*/
	position: relative;
	display:block;
	/*min-height: 54px;*/
	margin:0px;
	/*border-radius: 3px;*/
	border-bottom: 1px solid #ececec;
}

.msbox .mdl-button {
    height: 23px;
    line-height: 23px;
    font-size: 100%;
    font-weight: normal;
}

div.msAll {
	display:inline-block;
	*display: inline; zoom: 1;
}
.msSelectAllDiv {
	float: right;
	margin-right: 3px;
}
.msBoxClose {
	float: right;
}
.textnonevisible {
	display:none;
	margin: 0 6px;
	color: #dc2727;
}
.msitem input {
	margin: 2px;
}
.msitem span {
	font-size: 100%;
}
.disableClick {
	cursor: default !important;
}