.tipdiv {
	background-color: #FBF7C9;
	border: 1px solid #EADFAC;
	margin: 0px auto 0px auto;
	padding: 1px;
	text-align: left;
	position: relative;
	border-radius: 4px;
}

.slider_close {
	width: 30px;
	height: 27px;
	top: 0px;
	right: 0px;
	position: absolute;
	cursor: pointer;
	background: url('../images/close2.png') no-repeat;
	background-position: -15px -46px;
	border-radius: 0px 4px 0px 5px;
	opacity: 0.7;
}
.slider_close:hover {
	background-position: -73px -45px;
}

/** NEW */

#popuptips .popup-body {
	padding: 50px 40px 5px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 250px;
	min-width: 275px;	
	overflow: unset;
}

#popuptips .popup-subtitle {
	text-align: left;
    min-height: 56px;
    width: 100%;
}

#popuptips .filter-popup-buttons {
    padding-bottom: 25px;
	padding-top: 20px;
	min-width: 250px;
	justify-content: space-between;
}

.tips-carousel-item i{
	color: #a4bed2;
	padding: 1px;
	margin: 2px;
	font-size: .8em;
	cursor: pointer;
	line-height: 5px;
	transition: font-size 0.3s
}

.tips-carousel-item i.selected{
	color: #328CC1;
	cursor: inherit;
	font-size: 1em;
	transition: font-size 0.3s
}

.tips-carousel {
 	margin-bottom: -46px;
}
.tips-previous,
.tips-next {
    align-content: center;
    display: flex;
}

.tips-previous .mdl-button--fab,
.tips-next .mdl-button--fab {
    background: white;
    background: rgba(255,255,255,.9);
    color: #888;
    width: 30px;
    height: 30px;
    min-width: 30px;
    font-size: 16px;
    box-shadow: 0 2px 8px #aaa;    
    border-radius: 50%;
    line-height: 12px;
}

.tips-previous .mdl-button--fab:hover,
.tips-next .mdl-button--fab:hover {
    background: white;
    color: #0B3C5D;
}
	
.tips-previous {
    padding-right: 10px;
    margin-left: -50px;
}
.tips-next {
    padding-left: 12px;
    margin-right: -52px;
}

#popuptips {
	overflow:visible;
}

#popuptips .popup-title {
	padding-top: 30px;
}

.tips-image {
	height:130px;
}
#slider_tip_img {
	max-width: 260px;
    max-height: 130px;
}

@media only screen and (max-width:680px) {
	.tips-carousel {
 		margin-bottom: 0px;
	}
	#popuptips .filter-popup-buttons {
    	padding-bottom: 40px;
	}
}