/* FONT */
@import url('https://fonts.googleapis.com/css?family=Quicksand|Oswald');

/* BODY */
body {
	background: rgb(133, 1, 60);
	/*font-family: 'Quicksand', Sans-Serif !important;*/
	color: #535f65;
	text-rendering: optimizeLegibility;
}

/* HEADER */
div.reg_header {
	background-color: white;
	height: 133px;
	padding: 0px;
	border-bottom: 4px solid rgb(111, 19, 54);
}

div.reg_header_inner_wrapper {
	margin: auto;
}

.messageOnly {
	color: #ffffff;
}

div.header-column {
	padding: 0px;
	margin: 0px;
	float: left;
	width: 33.33%;
}

div.header-row:after {
	content: "";
	display: table;
	clear: both;
}

div.header-middle {
	text-align: center;
	padding-top: 5px;
	font-size: 40px;
	padding-bottom: 10px;
	font-family: 'Oswald', Sans-Serif;
	font-weight: 700;
	letter-spacing: 5px;
}

div.header-middle>span {
	border-bottom: 7px solid rgb(201, 200, 199);
	text-transform: uppercase;
}

div.header-middle .my {
	color: rgb(111, 19, 54);
	padding-right: 7px;
	font-weight: bold;
}

div.header-middle .timetable {
	color: rgb(84, 96, 103);
	padding-left: 7px;
}

div.header-right {
	width: 175px;
}

div.autho_text {
	color: rgb(84, 96, 103);
}

.header_invader_position {
	top: -64px;
	height: 60px;
}

.header_invader_text_top {
	top: 18px;
}

.header_invader_logo_width {
	width: 210px;
}

/* NAVIGATION */
.navigation {
	background-color: #03244D;
	border-left: inherit;
	border-top: inherit;
	border-right: inherit;
	border-bottom: 3px solid #4C72A1;
}

.navigation li:first-child {
	border-left: 1px solid #03244D;
}

.navigation li {
	border-right: 1px solid #4C72A1;
}

.navigation li a {
	/*height: 17px;*/
	font-weight: normal;
	text-transform: uppercase;
}

.navigation li a.navselected {
	color: #FFFFFF;
	background-color: #4C72A1;
}
.logo {
	height: 110px;
	margin: 10px;
}

@media only screen and (max-width:1200px) {
	div.reg_header {
		border: none;
	}
}

@media only screen and (max-width:940px) {
	.header_invader_position {
    	top: -52px;
    	height: 52px;
	}
	div.reg_header {
		height: 103px;
	}
	.logo {
		height:80px;
	}
	div.header-middle>span {
    	border-bottom: none;
	}
}

.subnavigation {
	background-image: url("../../images/subnavbg_v3_inv.gif");
	border-bottom: 0px;
}

/* MISCELLANEOUS */
.credits_block {
	display: inherit;
}

.campus_block {
	display: inherit;
}

/* See individualClassStatus */

.mainframe {
	background-color: #FFFFFF;
	padding: 0px;
}

.userDiv {
	margin-top: 9px;
}

.courseDiv {
	border: 0px;
	box-shadow: 1px 1px 5px #888888;
}

.requirementMargin {
	margin-bottom: 9px;
}

.crn_label {
	display: inline;
}

#page_results {
	background: url(mcmaster-welcome-bg.png) bottom left no-repeat;
	padding-bottom: 80px;
}

a {
	color: #1F5187;
}

.header_lang {
	display: block;
	right: 35px !important;
	bottom: 6px;
	z-index: 1000;
}

.short_ln {
	display: none;
	text-transform: capitalize;
}

.header_left {
	width: 175px;
	margin: 0 auto;
	float: none;
}

/* PAGE */
.title_font {
	color: black;
	font-size: 1.2em;
}

.full_page_title {
	background-color: rgb(106,120,130);
	font-weight: 700;
	/*font-size: 2em;*/
	color: white;
}

.full_page_title.collapsed {
	color: #535f65;
}

.page_fader {
	background-color: white;
	font-weight: 700;
	color: black !important;
}

.expander {
	background-color: black;
}

#page_results .full_page_title {
	border-left: 0px;
	border-right: 0px;
}

.navigation {
	background-color: #323E48;
	border-bottom: none;
}

.rotate_90d {
	color: black;
	font-size: 1.5em;
}

.navigation li {
}

.navigation li:first-child {
	border-left: 0px;
}

.navigation li a.navselected, .navigation li a:hover {
	background-color: #990033;
}

.navigation li {
	border-right: none;
}

.welcome_title {
	font-family: inherit;
	margin-top: 90px;
}

.welcome_subtext {
	font-family: inherit;
	max-width: 800px;
    margin: 0 auto;
}

/* FOOTER */
.mcm-footer {
	background-color: rgb(133, 1, 60);
}

.mcm-footer-links {
	background-color: rgb(81, 95, 102);
	height: 40px;
	padding: 4px;
	font-family: 'Oswald', Sans-Serif !important;
}

.mcm-footer-banner {
	background: url(mcmaster-footer-banner.png) no-repeat center center;
	background-size: auto 100%;
	height: 100px;
}

.mcm-footer-links>table {
	width: 100%;
	height: 100%;
}

.mcm-footer-links td {
	text-align: center;
	vertical-align: middle;
}

.mcm-footer-links a {
	color: white;
}

.mcm-footer-contact {
	background-color: rgb(133, 1, 60);
	margin: 0px 20px;
	border-top: 1px solid rgb(148, 21, 84);
	border-bottom: 1px solid rgb(148, 21, 84);
	font-size: 0.9em;
	font-family: 'Oswald', Sans-Serif !important;
}

.mcm-footer-contact>table {
	width: 40%;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.mcm-footer-contact a {
	color: white;
}

.mcm-footer-social {
	text-align: center;
	margin-bottom: 9px;
}

.mcm-footer-social>img {
	height: 25px;
	margin-top: 10px;
}

.mcm-footer-address {
	color: white;
	font-size: 0.8em;
	margin-top: 10px;
}

.mcm-footer-address .mcm-footer-phone {
	font-weight: bold;
}

.mcm-footer-address span {
	padding: 10px;
}

.mcm-footer-copyright {
	text-align: center;
	font-size: 0.7em;
	color: #ddd;
	padding-top: 10px;
}

.mcm-footer:after {
	content: "";
	display: table;
	clear: both;
}

/** RESPONSIVE **/
@media only screen and (max-width:1040px) {
	.header-middle {
		text-align: center;
		font-size: 40px;
	}
	.header-middle>span {
		font-weight: 600;
		border-bottom: 6px solid #999999;
	}
}

@media only screen and (max-width:838px) {
	.header-middle {
		text-align: left;
		font-size: 30px;
	}
	.header-middle>span {
		font-weight: 500;
		border-bottom: 5px solid #999999;
	}
	.header-right {
		width: 0px;
	}
}

@media only screen and (max-width:680px) {
	.headerInside img {
		height: 40px;
		padding: 6px;
	}
	.header_left {
		margin: 0;
	}
	#under_header {
		border-left: 0px;
		border-right: 0px;
	}
	.reg_header .header_logo {
		width: 100%;
	}
	.header-middle {
		width: 100%;
	}
	.header-middle {
		font-size: 30px;
	}
	.header-middle>span {
		font-weight: 200;
	}
	.header-right>img {
		display: none;
	}
	.reg_header {
		background-color: #DC241F;
		height: 68px;
	}
	#sub-footer-inner #copyright {
		float: none;
		position: relative;
		text-align: center;
		left: 0px;
	}
	a#mcgill-watermark {
		display: block;
		float: none;
		margin: 0 auto;
	}
	#sub-footer-inner {
		height: 70px;
	}
	.vsb_logo {
		display: none;
	}
	.userlang {
		color: #FFF;
	}
	.header_lang {
		right: 14px !important;
	}
	.header_invader_logo_width {
		width: 160px;
	}	
}

@media only screen and (max-width:838px) {
	.header-middle {
		text-align: left;
		font-size: 25px;
	}
	.header-middle>span {
		font-weight: 400;
	}
}

@media only screen and (max-width:490px) {
	.vsb_logo_right {
		/* display: none; */
	}
	.header-middle {
		/* margin-left: 10px; */
	}
	.mcm-mytimetable {
		display: none;
	}
	.header-middle>span {
		font-weight: 300;
		border-bottom: none;
	}
	a.logo {
		/* display: none; */
	}
}

@media only screen and (max-width:400px) {
	.long_ln {
		display: none;
	}
	.short_ln {
		display: inline-block;
	}
}

@media only screen and (max-width:400px) {
	.logo {
	    height: 50px;
	}
	.header_invader_logo_width {
		width: 110px;
	}
	.header_invader_position {
    	top: -64px;
	}
	div.reg_header {
    	height: 73px;
	}
}

